<div id="footer">
    <div class="ft_wd">
        <div class="ft_text clear">
            <img th:src="@{/images/logo.png}" class="fleft" width="100">
            <ul class="clear">
                <li>박명서</li>
                <li>정준영</li>
                <li>박민규</li>
                <li>개인정보처리방침</li>
            </ul>
        </div>
        <br>
        <div class="ft_text2">
            <p>&emsp;주소 : 어딘가</p>
            <p class="copyright">&emsp;©2022 KHN .ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</div>