@charset "UTF-8";


*{
	list-style: none;
}

#logo{
	background-color:transparent;
	border:0;
	cursor:pointer;
}
input{
	width:300px;
	height:50px;
	font-size:14px;
	border: 1;
	border-radius: 15px;
}
#div1{
	text-align: center;
}

#login{
	width:400px;
	height:60px;
	font-size:20px;
	font-weight:bold;
	border: 1;
	border-radius: 15px;
	background-color:#FFEA00;
	cursor:pointer;
}

#sub1{
	border: 0;
	background-color:transparent;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
}

#sub2{
	border: 0;
	background-color:transparent;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
}
#hd_bu1{
	border: 0;
	background-color:transparent;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	position: fixed;
	top: -10px;
	
}

.fright{
    float: right;
}
.fleft{
    float: left;
}
ul{
    font-size: 0;
}

/* ν—¤λ” */
#header{
    width: 100%;
    background-color: #FFEA00;
}
.hd_wd{
    margin: auto;
    width: 1620px;
}
#header .ic_on{
    padding: 0px;
    text-align: right;
}
#header .ic_on a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
#header .ic_off{
    padding: 30px 0;
    text-align: right;
}
#header .ic_off a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

/* ν‘Έν„° */
#footer{
    width: 100%;
    background-color: #FFEA00;
    /* padding: 1px 0; */
    position: absolute;
    bottom: 0;
}
#footer .ft_wd{
    width: 1620px;
    margin: auto;
}
#footer .ft_wd .ft_text{
    margin-bottom: 20px;
}
#footer .ft_wd .ft_text img{
    margin-right: 10px;
}
#footer .ft_wd .ft_text ul li{
    float: left;
    margin: 0 15px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #3f3f3f;
}
#footer .ft_wd .ft_text ul li:after{
    content: '';
    width: 1px;
    height: 10px;
    background-color: #3f3f3f;
    position: absolute;
    right: -14px;
    top: 5px;
}
#footer .ft_wd .ft_text ul li:last-child:after{
    display: none;
}
#footer .ft_wd .ft_text2 p{
    font-size: 14px;
    color: #3f3f3f;
}
#footer .ft_wd .ft_text2 .copyright{
    margin-top: 3px;
    color: #3f3f3f;
}

.table_caption {
	font-family: Arial, Sans-serif;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.table_header_1 {
	font-family: Arial, Sans-serif;
	margin-top : 5px;
}

.table_body {
	margin: 0px;
	padding-left: 60px;
}

input.recover_submit {
	background-color: #FFEA00; /* Green */
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
}

input.user_id {
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}


table {
	font-family: Arial, Sans-serif;
	border: 2px solid black;
	padding: 15px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
}

tfoot {
	float: right;
	right: 0px;

}