<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title>아이디 / 비밀번호 찾기</title>
</head>
<body>
	<table>
		
		<thead>
			<tr>
				<td>
				<p class="table_caption">아이디 / 비밀번호 찾기</p>
				<p class="table_header_1">계정의 ID와 비밀번호를 찾습니다</p>	
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>e-mail &nbsp;&nbsp;&nbsp;<input type="text" class="user_id" name="user_id"></td>
			</tr>
			<tr>
				
			</tr>
			<tr>
				<td>
					<p class="table_body">입력하신 이메일로 정보를 보내드립니다.</p>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><input type="submit" class="recover_submit" value="아이디/비밀번호 찾기"></td>
			</tr>
		</tfoot>
	</table>
</body>
</html>