<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/sign.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
<div class="header" th:replace="/navi/header"></div>
<br><br>
<div class="body">

    <form action="sign_sucess.html" method="post">
    <b class="name">아이디</b><br>
    <input class="text" type="text" name="UserID" placeholder="아이디를 입력해주세요"><br><br>

    <b class="name">비밀번호</b><br>
    <input class="text" type="password" name="PW" placeholder="비밀번호를 입력해주세요"><br><br>

    <b class="name">비밀번호 확인</b><br>
    <input class="text" type="password" name="PW" placeholder="비밀번호를 입력해주세요"><br><br>

    <b class="name">이메일</b><br>
    <input class="text" type="email" name="email" placeholder="이메일을 입력해주세요"><br><br>

    <b class="name">전화번호</b><br>
    <input class="text" type="tel" name="phone" placeholder="전화번호를 입력해주세요"><br><br><br>

    <button class="sign_up" type="submit">회원정보 수정</button>
    <button class="sign_up" onclick="location.href='/main'">메인으로</button>
    </form>
</div>
<div class="footer" th:replace="/navi/footer"></div>
</body>
</html>

