<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/sign.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/js/user_info.js}"></script>
    <title>회원가입</title>
</head>
<body>
<div class="header" th:replace="/navi/header"></div>
<br><br>
<div class="body">
    <b class="name">아이디</b><br>
    <input class="text" type="text" id="uid" name="uid" th:value="${session['uid']}" disabled /><br><br>

    <b class="name">비밀번호</b><br>
    <input class="text" type="password" id="upwd1" name="upwd1"><br><br>

    <b class="name">비밀번호 확인</b><br>
    <input class="text" type="password" id="upwd2" name="upwd2"><br><br>

	<b class="name">이름</b><br>
    <input class="text" type="text" id="uname" name="uname" th:value="${session['uname']}" disabled /><br><br>

	<b class="name">주소</b><br>
    <input class="text" type="text" id="uaddr1" name="uaddr1" th:value="${session['uaddr1']}"><br><br>
    
    <b class="name">상세주소</b><br>
    <input class="text" type="text" id="uaddr2" name="uaddr2" th:value="${session['uaddr2']}"><br><br>

    <b class="name">이메일</b><br>
    <input class="text" type="email" id="umail" name="umail" th:value="${session['umail']}"><br><br>

    <b class="name">전화번호</b><br>
    <input class="text" type="text" id="unumber" name="unumber" th:value="${session['unumber']}"><br><br><br>

    <button class="sign_up" id="modify">회원정보 수정</button>
    <button class="sign_up" onclick="location.href='/main'">취소</button>
    <button class="sign_up" onclick="location.href='/user_out'">회원탈퇴</button>
</div>
    <!-- <div class="footer" th:replace="/navi/footer"></div> -->
</body>
</html>

