<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/sign.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/user_info.js}"></script>
    <title>회원가입</title>
</head>
<body>
<div class="header" th:replace="/navi/header"></div>
<br><br>
<div class="body">
	<form name="modify_form" action="/modify_user" method="POST">
    <b class="name">아이디</b><br>
    <input class="text" type="text" id="id" name="id" th:value="${session['id']}"><br><br>

    <b class="name">비밀번호</b><br>
    <input class="text" type="password" id="password1" name="password1"><br><br>

    <b class="name">비밀번호 확인</b><br>
    <input class="text" type="password" name="password2"><br><br>

    <b class="name">이메일</b><br>
    <input class="text" type="email" name="email" th:value="${session['email']}"><br><br>

    <b class="name">전화번호</b><br>
    <input class="text" type="text" name="number" th:value="${session['number']}"><br><br><br>

    <button class="sign_up" type="submit" id="modify">회원정보 수정</button>

    </form>
    <button class="sign_up" onclick="location.href='/main'">취소</button>
    <button class="sign_up" onclick="location.href='/user_out'">회원탈퇴</button>
</div>
    <div class="footer" th:replace="/navi/footer"></div>
</body>
</html>

